@use '../variables/variables' as *;

.card {
    border-radius: 10px;
    background: #2da6d6;
    background: $success-gradient;
    color: $light-color;
    padding: 20px;
    width: 100%;
    box-shadow: 1px 1px 3px #000000;
}